<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    
    <ion-title>{{ movie?.title }}</ion-title>

    <ion-buttons slot="end">
      <!-- Home Button -->
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <!-- Favourites Button -->
      <ion-button routerLink="/favourites">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>>

<ion-content [fullscreen]="true" class="ion-padding" *ngIf="movie">
  <div class="ion-text-center">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" style="border-radius: 10px; max-width: 80%;" />
  </div>

  <h2>{{ movie.title }}</h2>
  <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
  
  <h3>Overview</h3>
  <p>{{ movie.overview }}</p>

  <h3>Genres</h3>
  <ion-chip *ngFor="let genre of movie.genres">
    <ion-label>{{ genre.name }}</ion-label>
  </ion-chip>

  <div class="ion-padding-top"> <ion-button expand="block" (click)="toggleFavourite()">
     <ion-icon slot="start" name="heart"></ion-icon>
      Add to Favourites
     </ion-button> </div>

     <h3 class="section-title">Cast</h3>
     <div class="cast-scroll-container" style="display: flex; overflow-x: auto; gap: 16px; padding: 10px; -webkit-overflow-scrolling: touch;">
      
      <div class="cast-member-card" *ngFor="let member of cast"
      [routerLink]="['/person-details', member.id]"
      style="min-width: 100px; text-align: center; cursor: pointer;">
  
   <ion-avatar style="width: 80px; height: 80px; margin: 0 auto;">
     <img [src]="member.profile_path ? 'https://image.tmdb.org/t/p/w200' + member.profile_path : 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
   </ion-avatar>
 
   <div class="cast-info">
     <p style="font-size: 0.8rem; font-weight: bold; margin: 5px 0 0;">{{ member.name }}</p>
     <p style="font-size: 0.7rem; color: gray; margin: 0;">{{ member.character }}</p>
   </div>
 </div>
     
     </div>

     <h3 class="section-title">Crew</h3>
     <ion-list>
       <ion-item *ngFor="let member of crew" [routerLink]="['/person-details', member.id]" detail="true">
         <ion-avatar slot="start">
           <img [src]="member.profile_path ? 'https://image.tmdb.org/t/p/w200' + member.profile_path : 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
         </ion-avatar>
         <ion-label>
           <h2>{{ member.name }}</h2>
           <p>{{ member.job }}</p>
         </ion-label>
       </ion-item>
     </ion-list>

