<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    
    <ion-title>{{ movie?.title }}</ion-title>

    <ion-buttons slot="end">
      <!-- Home Button -->
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <!-- Favourites Button -->
      <ion-button routerLink="/favourites">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>>

<ion-content [fullscreen]="true" class="ion-padding" *ngIf="movie">
  <div class="ion-text-center">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" style="border-radius: 10px; max-width: 80%;" />
  </div>

  <h2>{{ movie.title }}</h2>
  <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
  
  <h3>Overview</h3>
  <p>{{ movie.overview }}</p>

  <h3>Genres</h3>
  <ion-chip *ngFor="let genre of movie.genres">
    <ion-label>{{ genre.name }}</ion-label>
  </ion-chip>
</ion-content>

<h3>Cast</h3>
<ion-list>
  <ion-item *ngFor="let member of cast">
    <ion-thumbnail slot="start">
      <img [src]="'https://image.tmdb.org/t/p/w200' + member.profile_path" *ngIf="member.profile_path" />
    </ion-thumbnail>
    <ion-label>
      <h2>{{ member.name }}</h2>
      <p>{{ member.character }}</p>
    </ion-label>
  </ion-item>
</ion-list>

<h3>Crew</h3>
<ion-list>
  <ion-item *ngFor="let member of crew">
    <ion-label>
      <h2>{{ member.name }}</h2>
      <p>{{ member.job }}</p>
    </ion-label>
  </ion-item>
</ion-list>
