<ion-header [translucent]="true">
   <ion-toolbar>
   <ion-buttons slot="start">
   <ion-back-button defaultHref="/home"></ion-back-button>
   </ion-buttons>
   <ion-title>My Favourites</ion-title>
   </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
   <div *ngIf="favouriteMovies.length === 0" class="ion-text-center">
   <p>You haven't added any favourites yet!</p>
   <ion-button routerLink="/home">Browse Movies</ion-button>
   </div>
  
   <ion-list *ngIf="favouriteMovies.length > 0">
   <ion-item *ngFor="let movie of favouriteMovies" [routerLink]="['/movie-details', movie.id]">
   <ion-thumbnail slot="start">
   <img [src]="'https://image.tmdb.org/t/p/w200' + movie.poster_path" />
   </ion-thumbnail>
   <ion-label>
   <h2>{{ movie.title }}</h2>
  <p>{{ movie.release_date }}</p>
   </ion-label>
  </ion-item>
  </ion-list>
  </ion-content>