<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ studentNumber }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/favourites">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Search Movie Name</ion-label>
    <ion-input placeholder="Enter movie name"></ion-input>
  </ion-item>
  <ion-button expand="full">SEARCH</ion-button>

  <ion-list-header>
    <ion-label>Today's Trending Movies</ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let movie of movies">
      <ion-thumbnail slot="start">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.overview }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
